@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>Far too often, those in the business of upfitting emergency vehicles struggle to keep track of projects coming in, projects that are in the shop currently, and the projects that have been on the road for a few years. That is why I started working on this application, to help make the lives of install shops a little less stressful. With this application, not only will you be able to keep track of your projects, but you will also have the ability to keep track of your employees and customers. Employees and customers will be assigned to each individual project to help keep track of who the vehicle is for and who is responsible for completing that vehicle.</p>

<b>A little about me...</b>
<p>Having spent the last 12+ years in the upfitting world, I have seen first hand the importance of project organization. The work day just flows so much better when you know who is supposed to be doing what, when projects should be completed and what's coming in the door next. I have taken that knowledge and started developing this application with the hopes that it can help others as well. While this looks like a basic application, which it is, I have aspirations that it will grow into something bigger and could possibly help other industries as well.</p>

<b>What can I do to help?</b>
<p>Are you sitting there reading this asking yourself what you can do to help? Yes? Great! If you're interested in getting involved with this project, even if it's just suggesting some ideas, feel free to head over to the <a href="/Home/Contact/">contact</a> page and get in touch! I'm always open to listening to feedback (both positive and negative) and open to suggestions on how to improve this application.</p>
