@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>EVT Project Management</h1>
        <p class="lead">The purpose of this application is to give upfitters in the emergency vehicle industry the ability to keep track of their employees, customers, and projects. Simply add an employee and a customer to their respective databases, and you'll be able to create projects and assign your employees and customers to it.</p>
        <p><a href="/Home/About/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

<div class="row">
    <div class="col-md-4">
            <div class="projectContainer">
                <div class="projectBox">
                    <div class="projectContent">
                        <h2>01</h2>
                        <h3>Employees</h3>
                        <p>Use this section to add, edit, delete and view current employees in the database.</p>
                        <a href="/Employee/">Employees &raquo;</a>
                    </div>
                </div>
            </div>
    </div>

    <div class="col-md-4">
        <div class="projectContainer">
            <div class="projectBox">
                <div class="projectContent">
                    <h2>02</h2>
                    <h3>Customers</h3>
                    <p>Use this section to add, edit, delete and view current customers in the database.</p>
                    <a href="/Customer/">Customers &raquo;</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="projectContainer">
            <div class="projectBox">
                <div class="projectContent">
                    <h2>03</h2>
                    <h3>Projects</h3>
                    <p>Use this section to add, edit, delete and view current projects in the database.</p>
                    <a href="/Project/">Projects &raquo;</a>
                </div>
            </div>
        </div>
    </div>
</div>