@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
            <div class="projectContainer">
                <div class="projectBox">
                    <div class="projectContent">
                        <h2>01</h2>
                        <h3>Employees</h3>
                        <p>Add, Edit, View, Delete Employees</p>
                        <a href="/Employee/">Employees &raquo;</a>
                    </div>
                </div>
            </div>
    </div>

    <div class="col-md-4">
        <div class="projectContainer">
            <div class="projectBox">
                <div class="projectContent">
                    <h2>02</h2>
                    <h3>Customers</h3>
                    <p>Add, Edit, View, Delete Customers</p>
                    <a href="/Customer/">Customers &raquo;</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="projectContainer">
            <div class="projectBox">
                <div class="projectContent">
                    <h2>03</h2>
                    <h3>Projects</h3>
                    <p>Add, Edit, View, Delete Projects</p>
                    <a href="/Project/">Projects &raquo;</a>
                </div>
            </div>
        </div>
    </div>
</div>