@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>EVT Project Management</h1>
        <h4>The purpose of this application is to give upfitters in the emergency vehicle industry the ability to keep track of their employees, customers, and projects. Simply add an employee and a customer to their respective databases, and you'll be able to create projects and assign your employees and customers to it.</h4>
        <p><a href="/Home/About/" class="btn btn-primary btn-sm">Learn more &raquo;</a></p>
    </div>

<div class="row">
    <div class="col-md-4">
            <div class="projectContainer">
                <div class="projectBox">
                    <div class="projectContent">
                        <h2>01</h2>
                        <h3>Employees</h3>
                        <p>Find information regarding current employees, add new employees or remove former employees.</p>
                        <a href="/Employee/">Employees &raquo;</a>
                    </div>
                </div>
            </div>
    </div>

    <div class="col-md-4">
        <div class="projectContainer">
            <div class="projectBox">
                <div class="projectContent">
                    <h2>02</h2>
                    <h3>Customers</h3>
                    <p>Get customer contact information, add new customers to the system or remove previous customers.</p>
                    <a href="/Customer/">Customers &raquo;</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="projectContainer">
            <div class="projectBox">
                <div class="projectContent">
                    <h2>03</h2>
                    <h3>Projects</h3>
                    <p>View projects assigned to employees and customers, add new projects, or close out projects that are completed.</p>
                    <a href="/Project/">Projects &raquo;</a>
                </div>
            </div>
        </div>
    </div>
</div>