/*Drop down navigation menu*/

.mynav_navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}



    .mynav_navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }



.mynav_dropdown {
    float: left;
    overflow: hidden;
}



    .mynav_dropdown .mynav_dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }



    .mynav_navbar a:hover, .mynav_dropdown:hover .mynav_dropbtn {
        background-color: red;
    }



.mynav_dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}



    .mynav_dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }



        .mynav_dropdown-content a:hover {
            background-color: #ddd;
        }



.mynav_dropdown:hover .mynav_dropdown-content {
    display: block;
}

/* DIV Sections on main page*/
.projectContainer {
    position: relative;
    justify-content: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-template-rows: auto;
    grid-gap: 40px 40px;
}

    .projectContainer .projectBox {
        position: relative;
        height: 400px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #000;
    }

        .projectContainer .projectBox:before {
            content: '';
            position: absolute;
            top: -2px;
            left: -2px;
            right: -2px;
            bottom: -2px;
            background: #fff;
            transform: skew(2deg, 2deg);
            z-index: -1;
        }

        .projectContainer .projectBox:nth-child(1):before {
            background: linear-gradient(315deg, #003791, #1389ff);
        }

        .projectContainer .projectBox:nth-child(2):before {
            background: linear-gradient(315deg, #003791, #1389ff);
        }

        .projectContainer .projectBox:nth-child(3):before {
            background: linear-gradient(315deg, #003791, #1389ff);
        }

        .projectContainer .projectBox:nth-child(4):before {
            background: linear-gradient(315deg, #003791, #1389ff);
        }

        .projectContainer .projectBox:nth-child(5):before {
            background: linear-gradient(315deg, #003791, #1389ff);
        }

        .projectContainer .projectBox:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background: rgba(255,255,255,0.05);
            pointer-events: none;
        }

.projectContent {
    position: relative;
    padding: 20px;
    transform: translateY(40px);
}

.projectBox .projectContent h2 {
    position: absolute;
    top: -60px;
    right: 20px;
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: rgba(56, 56, 56, 0.05);
    transition: 0.5s;
}

.projectBox:hover .projectContent h2 {
    top: -100px;
}

.projectBox .projectContent h3 {
    margin: 0 0 10px;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    color: #000;
}

.projectBox .projectContent p {
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 16px;
}

.projectBox .projectContent a {
    position: relative;
    margin: 20px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #000;
    display: inline-block;
    color: #000;
    transition: 0.5s;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
}

.projectBox:hover .projectContent a {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.projectBox .projectContent a:hover {
    color: #fff;
    background: rgba(0, 55, 145, 0.808);
}
